{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('app_login') }}">En se connectant ou en créant un compte</a>
        <a href="{{ path('app_orphan_new') }}">Sans se connecter</a>
    </div>
{% endblock %}