<p>Bonjour {{ user.firstName }},</p>

<p>Votre commande est disponible. Vous pouvez dès à présent effectuer le paiement directement sur le site ou par virement bancaire.</p>

<a href="{{ default_url }}{{ path('app_userspace_showproduct', {'product' : product.id}) }}">Commande</a>

<p>Bonne journée.</p>