<p>Bonjour {{ user.firstName }},</p>

<p>Votre commande a été terminée, vous pouvez récuperer vos livrables ici : <a href="{{ default_url }}{{ path('app_userspace_showproduct', {'product' : product.id}) }}">Commande</a></p>

<p>N'hésitez pas à me contacter pour d'éventuelles questions !</p>

<p>Bonne journée</p>