<h3>Akatraduction</h3>

<p>Votre compte professionel sur le site Akatraduction est activé.</p>
<p>Votre login est votre adresse e-mail : {{ user.email }}</p>

<p>Vous pouvez dès à présent effectuer une demande de devis.</p>

<p>Bonne journée</p>