<p>Hello {{ user.firstName }},</p>

<p>Here is your token to recover your account, follow the link and send us your new password.</p>

<p>http://127.0.0.1:8000/password/reset-{{ user.resettoken }}</p>

<p>See you !</p>