<p>Bonjour {{ user.firstName }},</p>

<p>Voici un lien pour récuperer votre compte, suivez les instructions après avoir cliquer sur ce lien.</p>

<p><a href="https://{{ default_url }}/password/reset-{{ user.resettoken }}"></a>Lien</p>

<p>A bientôt !</p>