<p>Bonjour {{ user.firstName }},</p>

<p>Voici un lien pour récuperer votre compte, suivez les instructions après avoir cliquer sur ce lien.</p>

<p>http://127.0.0.1:8000/password/reset-{{ user.resettoken }}</p>

<p>A bientôt !</p>