<p>Bonjour {{ user.firstName }},</p>

<p>Voici un lien pour récupérer votre compte, suivez les instructions après avoir cliquer sur ce lien.</p>

<a href="{{ default_url }}/password/reset-{{ user.resettoken }}">Lien</a>

<p>Bonne journée.</p>