<p>Bonjour {{ user.firstName }},</p>

<p>Voici un lien pour récuperer votre compte, suivez les instructions après avoir cliquer sur ce lien.</p>

<p>https://{{ default_url }}/password/reset-{{ user.resettoken }}</p>

<p>A bientôt !</p>