<p>Bonjour {{ user.firstName }},</p>

<p>Votre commande a été validée, vous pouvez suivre l'avancement des travaux ici
    <a href="{{ default_url }}{{ path('app_userspace_showproduct', {'product' : product.id}) }}">Commande</a></p>

<p>Bonne journée.</p>