{% extends 'base.html.twig' %}

{% block title %}Edit OrphanUser{% endblock %}

{% block body %}
    <h1>Edit OrphanUser</h1>

    {{ include('orphan_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_orphan_show', {'id' : orphan_user.id }) }}">back to list</a>

    {{ include('orphan_user/_delete_form.html.twig') }}
{% endblock %}
