{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle commande</h1>

    {{ include('orphan_user/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
