{% extends 'base.html.twig' %}

{% block body %}
        <h1 class="col-12 text-center">Nouvelle commande</h1>

        <div class="col-12 row justify-content-center">
            {{ include('orphan_user/_form.html.twig') }}
        </div>

        <a class="text-center" href="{{ path('home') }}">Retour à l'accueil</a>

{% endblock %}
