{% extends 'base.html.twig' %}

{% block title %}New OrphanUser{% endblock %}

{% block body %}
    <h1>Create new OrphanUser</h1>

    {{ include('orphan_user/_form.html.twig') }}

    <a href="{{ path('home') }}">back to Home</a>
{% endblock %}
