{% if not product.isValid or is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_userspace_editproduct', {'product': product.id }) }}"><button class="btn btn-warning m-2">Modifier la commande</button></a>
{% endif %}