{% if not product.isValid or is_granted("ROLE_ADMIN") %}
    <a class="m-2" href="{{ path('app_userspace_editproduct', {'product': product.id }) }}"><button class="btn btn-warning">Modifier la commande</button></a>
{% endif %}