{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une commande</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_adminspace_products') }}">Retour sur la liste des commandes</a>
    {% else %}
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_userspace_showproduct', {'product': product.id}) }}">Retour sur le profil</a>

{% endblock %}
