{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une nouvelle commande</h1>

    {{ include('product/_form.html.twig') }}

    {{ include('product/returnToListButton.html.twig') }}
{% endblock %}
