{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une nouvelle commande</h1>

    {{ include('product/_form.html.twig') }}

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_adminspace_products') }}">Retour sur la liste des commandes</a>
    {% endif %}
{% endblock %}
