{% extends 'base.html.twig' %}


{% block body %}
    <div class="border container-fluid rw justify-content-center align-items-center">
        <p>Le paiement n'a pas abouti.</p>

        <p>{{ message }}</p>

        <a href="{{ path('app_userspace_showproduct', {'product' : product.id}) }}"><button class="btn btn-primary">Retour sur la commande</button></a>
    </div>
{% endblock %}