{{ form_start(form) }}

    {% if form.email is defined %}
        <div class="form-group">
            {{ form(form.email,  { 'attr': {'class': 'form-control'}}) }}
        </div>
    {% endif %}

    <div class="form-group row justify-content-center text-center">
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    </div>

{{ form_end(form) }}